@using GranBazar.Models
@{
    ViewBag.Title = "Dashboard User";
    var elencoOrdini = (Dictionary<int, List<VistaProdottoOrdine>>)ViewData["elencoOrdini"];
    decimal tot = 0;
}
<script type="text/javascript" src="~/js/script.js"></script>

<div class="container">
    @foreach (var list in elencoOrdini.Values) { 
        <div class="panel panel-default">
             <div class="panel-heading">Ordine numero:<bold></bold></div>
             <div class="panel-body">
                 <ul class="treeview">
                     <li>
                         <a>Contenuto Ordine</a>
                         @foreach(var element in list){
                            <ul>
                                <li>
                                    <div class="container" style="margin-top:50px;">
                                        <table id="cart" class="table table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="width:50%">Prodotto</th>
                                                    <th style="width:10%">Prezzo</th>
                                                    <th style="width:10%">Sconto</th>
                                                    <th style="width:10%">Quantita'</th>
                                                    <th style="width:10%" class="text-center">Subtotale</th>
                                                    <th style="width:10%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div>
                                                    <tr>
                                                        <td data-th="Product">
                                                            <div class="row">
                                                                <div class="col-sm-2 hidden-xs"><img src="@element.LinkImmagine" alt="..." class="img-responsive" /></div>
                                                                <div class="col-sm-10">
                                                                    <a href="/Prodotti/SchedaProdotto?id=@element.IdProdotto" style="font-size:16px"> @element.NomeProdotto</a>
                                                                    <p>@element.DescrizioneProdotto</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td data-th="Price">&euro; @element.Prezzo</td>
                                                        <td style="color:red">
                                                            @if (element.Sconto > 0)
                                                            {<p>&euro; @(Math.Round((Decimal)(element.Prezzo / 100 * element.Sconto), 2)) (@element.Sconto%)</p>}
                                                        </td>
                                                        <td data-th="Quantity">
                                                            <input type="number" class="form-control text-center" value="@element.Quantita" min="1" name="quantita" id="quantita" disabled>
                                                        </td>
                                                        <td data-th="Subtotal" class="text-center">
                                                            @if (element.Sconto > 0)
                                                            { <p>&euro; @(Math.Round((Decimal)(element.Prezzo - element.Prezzo / 100 * element.Sconto), 2) * element.Quantita)</p>
                                                                tot += (Math.Round((Decimal)(element.Prezzo - element.Prezzo / 100 * element.Sconto), 2)) * element.Quantita;
                                                            }
                                                            else
                                                            {<p>&euro; @(element.Prezzo * element.Quantita)</p>
                                                                tot += (element.Prezzo * element.Quantita);
                                                            }
                                                        </td>
                                                    </tr>
                                                </div>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3" class="hidden-xs"></td>
                                                    <td class="hidden-xs text-center"><strong>Totale &euro; @tot</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </li>
                            </ul>}
                     </li>
                </ul>
             </div>
         </diV>}
</div>
