@model List<Prodotto>
@{
    var utenteLoggato = HttpContextAccessor.HttpContext.Session.Get<Utente>("utenteLoggato");
    ViewBag.Title = "Prodotti";
    Layout = "_Layout";
    string ruolo = "";
    if (utenteLoggato != null) { ruolo = utenteLoggato.Ruolo; };
}


<div class="container">
    <div class="row">
        <div class="row" style="height:517.672px">
            @foreach (var product in Model){
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@product.LinkImmagine">
                        <div class="caption">
                            <h4 class="pull-right">
                                €@product.Prezzo<br />@if (product.Sconto > 0)
                                {<p style="color:red">-&euro; @(Math.Round((Decimal)(product.Prezzo / 100 * product.Sconto), 2)) (@product.Sconto%)</p>}
                            </h4>
                            <h4>
                                <a href="/Prodotti/SchedaProdotto?id=@product.IdProdotto">@product.NomeProdotto</a>
                            </h4>
                            <p>@product.DescrizioneProdotto</p>
                        </div>
                        <br />
                        @if (!ruolo.Equals("Admin")){
                        @if (product.Disponibile){
                            <div class="btn-group cart" id="pulsante">
                                <a href="/Carrello/Index?id=@product.IdProdotto" class="btn btn-success">Aggiungi al carrello</a>
                            </div>}
                        else{
                            <div class="btn-group cart" id="pulsante">
                                <a class="btn btn-danger" style="width:145.08px">Non Disponibile</a>
                            </div>}}
                    </div>
                </div>}
        </div>
    </div>
</div>
