@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model GranBazar.Models.Prodotto
@{
    var utenteLoggato = HttpContextAccessor.HttpContext.Session.Get<GranBazar.Models.Utente>("utenteLoggato");
    ViewBag.Title = @Model.NomeProdotto;
    string ruolo = "";
    if (utenteLoggato != null) { ruolo = utenteLoggato.Ruolo; };
}


<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="product col-md-3 service-image-left">
                    <img id="item-display" src="@Model.LinkImmagine" alt="" />          
                </div>

                <div class="col-md-8">
                    <h4 style="font-size:20px">@Model.NomeProdotto</h4>
                    <div class="product-desc">@Model.DescrizioneProdotto</div>
                    <hr>
                    <div class="product-price">Prezzo: € @Model.Prezzo</div>
                    <div class="product-price">@if (@Model.Sconto > 0)
                    {<p style="color:red;font-size:15px">Risparmi: &euro; @(Math.Round((Decimal)(Model.Prezzo / 100 * Model.Sconto), 2)) (@Model.Sconto%)</p><p style="color:red">Prezzo finale: &euro; @(Model.Prezzo - Math.Round((Decimal)(Model.Prezzo / 100 * Model.Sconto), 2))</p>}</div>
                    <hr>
                    @if (!ruolo.Equals("Admin")){
                    @if (Model.Disponibile){
                    <div class="btn-group cart">
                        <a href="/Carrello/Index?id=@Model.IdProdotto" class="btn btn-success">Aggiungi al carrello</a>
                    </div>}
                    else{
                    <div class="btn-group cart">
                        <a class="btn btn-danger">Non Disponibile</a>
                    </div>}}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul class="nav nav-tabs nav_tabs">
                    <li class="active"><a data-toggle="tab">Descrizione</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <section class="container product-info">
                            <h3 style="margin-left:10px;margin-top:0px">@Model.NomeProdotto:</h3>
                            <p style="margin-left:10px;margin-top:15px">@Model.DescrizioneProdotto</p></section>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
