@model List<Prodotto>
@{
    ViewBag.Title = "HomePage";
    Layout = "_Layout";
    var utenteLoggato = HttpContextAccessor.HttpContext.Session.Get<Utente>("utenteLoggato");
    string ruolo = "";
    if (utenteLoggato != null) { ruolo = utenteLoggato.Ruolo; };
    int ind = 0;
    var elencoProdotti = (List<Prodotto>)ViewData["elencoProdotti"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="boxed-esterno">
    <article class="boxed-interno">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-9">
                        <br />
                        <h3>Top 10 prodotti più venduti nell'ultimo mese</h3>
                        <br>
                    </div>
                    <br />
                    <div class="col-md-3">
                        <!-- Controlli -->
                        <div class="controls pull-right hidden-xs">
                            <a class="left fa fa-chevron-left btn btn" href="#carousel-example"
                               data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                                                        data-slide="next"></a>
                        </div>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                    <!-- Wrapper per le slide -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">

                                @if (Model != null && (ind < 3))
                                {
                                    @for (int i = 0; i < 4 && i < Model.Count(); i++)
                                    {
                                        <div class="col-sm-3">
                                            <div class="col-item">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="price col-md-6" style="width:400px">
                                                            <h5>@Model.ElementAt(i).NomeProdotto</h5>
                                                            <h5 class="price-text-color">
                                                                &euro;@Model.ElementAt(i).Prezzo @if (Model.ElementAt(i).Sconto > 0)
                                                                {<span style="color:red">- &euro; @(Math.Round((Decimal)(Model.ElementAt(i).Prezzo / 100 * Model.ElementAt(i).Sconto), 2)) (@Model.ElementAt(i).Sconto%)</span>}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="photo">
                                                    <img src="@Model.ElementAt(i).LinkImmagine" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                    <div class="separator clear-left">
                                                        @if (!ruolo.Equals("Admin"))
                                                        {

                                                            @if (Model.ElementAt(i).Disponibile)
                                                            {

                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a href="/Carrello/Index?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Disponibile</a>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a class="hidden-sm">Terminato</a>
                                                                </p>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <p class="btn-add" />

                                                        }
                                                        <p class="btn-details">
                                                            <i class="fa fa-list"></i><a href="/Prodotti/SchedaProdotto?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Più dettagli</a>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        ind++;
                                    }
                                }

                            </div>
                        </div>

                        <!--DAL 4 ELEMENTO ALL 8-->

                        @if (ind > 3 && ind < 8)
                        {
                            <div class="item">
                                <div class="row">
                                    @for (int i = ind; i < Model.Count() && i < 8; i++)
                                    {


                                        <div class="col-sm-3">
                                            <div class="col-item">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="price col-md-6" style="width:400px">
                                                            <h5>@Model.ElementAt(i).NomeProdotto</h5>
                                                            <h5 class="price-text-color">
                                                                &euro;@Model.ElementAt(i).Prezzo @if (Model.ElementAt(i).Sconto > 0)
                                                                {<span style="color:red">- &euro; @(Math.Round((Decimal)(Model.ElementAt(i).Prezzo / 100 * Model.ElementAt(i).Sconto), 2)) (@Model.ElementAt(i).Sconto%)</span>}

                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="photo">
                                                    <img src="@Model.ElementAt(i).LinkImmagine" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                    <div class="separator clear-left">
                                                        @if (!ruolo.Equals("Admin"))
                                                        {

                                                            @if (Model.ElementAt(i).Disponibile)
                                                            {

                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a href="/Carrello/Index?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Disponibile</a>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a class="hidden-sm">Terminato</a>
                                                                </p>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <p class="btn-add" />

                                                        }
                                                        <p class="btn-details">
                                                            <i class="fa fa-list"></i><a href="/Prodotti/SchedaProdotto?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Più dettagli</a>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        ind++;
                                    }


                                </div>
                            </div>
                        }

                        @if (ind > 7)
                        {
                            <div class="item">
                                <div class="row">
                                    @for (int i = ind; i < Model.Count() && i < 11; i++)
                                    {
                                        <div class="col-sm-3">
                                            <div class="col-item">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="price col-md-6" style="width:400px">
                                                            <h5>@Model.ElementAt(i).NomeProdotto</h5>
                                                            <h5 class="price-text-color">
                                                                &euro;@Model.ElementAt(i).Prezzo @if (Model.ElementAt(i).Sconto > 0)
                                                                {<span style="color:red">- &euro; @(Math.Round((Decimal)(Model.ElementAt(i).Prezzo / 100 * Model.ElementAt(i).Sconto), 2)) (@Model.ElementAt(i).Sconto%)</span>}

                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="photo">
                                                    <img src="@Model.ElementAt(i).LinkImmagine" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                    <div class="separator clear-left">
                                                        @if (!ruolo.Equals("Admin"))
                                                        {

                                                            @if (Model.ElementAt(i).Disponibile)
                                                            {

                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a href="/Carrello/Index?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Disponibile</a>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="btn-add">
                                                                    <i class="fa fa-shopping-cart"></i><a class="hidden-sm">Terminato</a>
                                                                </p>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <p class="btn-add" />

                                                        }
                                                        <p class="btn-details">
                                                            <i class="fa fa-list"></i><a href="/Prodotti/SchedaProdotto?id=@Model.ElementAt(i).IdProdotto" class="hidden-sm">Più dettagli</a>
                                                        </p>
                                                    </div>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        ind++;
                                    }


                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />


        <div class="container">
            <div class="col-md-9" style="left:-27px">
                <h3>Catalogo prodotti</h3>
                <br />
            </div>

            <div class="row">
                <div class="row" style="height:517.672px">
                    @foreach (var product in elencoProdotti)
                    {
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="@product.LinkImmagine">
                                <div class="caption">
                                    <h4 class="pull-right">
                                        €@product.Prezzo<br />@if (product.Sconto > 0)
                                        {<p style="color:red">- &euro; @(Math.Round((Decimal)(product.Prezzo / 100 * product.Sconto), 2)) (@product.Sconto%)</p>}
                                    </h4>
                                    <h4>
                                        <a href="/Prodotti/SchedaProdotto?id=@product.IdProdotto">@product.NomeProdotto</a>
                                    </h4>
                                    <p>@product.DescrizioneProdotto</p>
                                </div>
                                <br />
                                @if (!ruolo.Equals("Admin"))
                                {
                                    @if (product.Disponibile)
                                    {
                                        <div class="btn-group cart" id="pulsante">
                                            <a href="/Carrello/Index?id=@product.IdProdotto" class="btn btn-success">Aggiungi al carrello</a>
                                        </div>}
                                    else
                                    {
                                        <div class="btn-group cart" id="pulsante">
                                            <a class="btn btn-danger" style="width:145.08px">Non Disponibile</a>
                                        </div>}}
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </article>
</div>

 <style>
                            .boxed-esterno{
                                margin-top:-20px;
                                background-color:#f8f8f8;
                            }
                            .boxed-interno{
                                margin:auto;
                                width:1250px;
                                background-color:white;
                                
                            }

                   

                            .col-item {
                                border: 2px solid black;
                                border-radius: 5px;
                                background: #FFF;
                            }

                                .col-item .photo img {
                                    margin: 0 auto;
                                    width: 100%;
                                }

                                .col-item .info {
                                    padding: 10px;
                                    border-radius: 0 0 5px 5px;
                                    margin-top: 1px;
                                }

                                .col-item:hover .info {
                                    background-color: rgba(215, 215, 244, 0.5);
                                }

                                .col-item .price {
                                    /*width: 50%;*/
                                    float: left;
                                    margin-top: 5px;
                                }

                                    .col-item .price h5 {
                                        line-height: 20px;
                                        margin: 0;
                                    }

                            .price-text-color {
                                color: #00990E;
                            }

                            .col-item .info .rating {
                                color: #003399;
                            }

                            .col-item .rating {
                                /*width: 50%;*/
                                float: left;
                                font-size: 17px;
                                text-align: right;
                                line-height: 52px;
                                margin-bottom: 10px;
                                height: 52px;
                            }

                            .col-item .separator {
                                border-top: 1px solid #FFCCCC;
                            }

                            .clear-left {
                                clear: left;
                            }

                            .col-item .separator p {
                                line-height: 20px;
                                margin-bottom: 0;
                                margin-top: 10px;
                                text-align: center;
                            }

                                .col-item .separator p i {
                                    margin-right: 5px;
                                }

                            .col-item .btn-add {
                                width: 50%;
                                float: left;
                            }

                            .col-item .btn-add {
                                border-right: 1px solid #CC9999;
                            }

                            .col-item .btn-details {
                                width: 50%;
                                float: left;
                                padding-left: 10px;
                            }

                            .controls {
                                margin-top: 20px;
                            }

                            [data-slide="prev"] {
                                margin-right: 10px;
                            }
                        </style>
